*.sw[a-p]
/private*
/junit-report/
/features/tierN
/Gemfile.lock
/tools/Gemfile.lock
/tools/Gemfiles_local/Gemfile*.lock
.idea/
.vscode/
junit-report/
vendor/
.byebug_history
.tool-versions
report-portal.yml
/tmp
*.iml
